# Ignore node_modules directory (created when you run npm install)
client/node_modules
client/build

# Ignore local environment variable files
client/.env

# Logs and miscellaneous files
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

# Ignore node_modules directory (created when you run npm install)
server/node_modules

# Ignore environment variable files
server/.env

# Logs and miscellaneous files
server/npm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*

# macOS specific
.DS_Store

# Ignore IDE specific files (e.g., VSCode)
.vscode/
.idea/

# Ignore any SQLite database files if used
*.sqlite3
*.db